* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #6563ff;
}
.wrapper {
  height: 450px;
  width: 450px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 15px;
}
.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.cards, .card, .view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card {
  cursor: pointer;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  margin: 5px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card.shake {
  animation: shake .4s ease-in-out;
}
@keyframes shake {
  0% , 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(13px);
  }
  40% , 80% {
    transform: translateX(-13px);
  }
}
.card .view {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  user-select: none;
  pointer-events: none;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.3s linear;
}
.card .front-view {
  background: whitesmoke;
  color: #6563ff;
  font-size: 54px;
}
.card .back-view {
  transform: rotateY(180deg);
}
.card.flip .front-view {
  transform: rotateY(180deg);
}
.card.flip .back-view {
  transform: rotateY(0);
}
.card .back-view img {
  max-width: 45px;
}